body {
    background-image: url(por-do-sol1.jpeg);
    background-size: cover;
    line-height: 1;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 200px;
    filter: drop-shadow(8px 8px 4px rgb(10, 1, 1));
}

hr {
    filter: drop-shadow(8px 8px 4px rgb(10, 1, 1));
}

input {
    filter: drop-shadow(8px 8px 4px rgb(61, 55, 55));
    cursor: pointer;
}

#start {
    background-color: rgb(105, 105, 192);
    color: white;
}

#stop {
    background-color: rgb(105, 105, 192);
    color: white;
}

#destaque {
    position: absolute;
    width: 150px;
    height: 150px;
}